#annime {
	-moz-animation-duration: 13s;
	-webkit-animation-duration: 13s;
	-moz-animation-name: annime;
	-webkit-animation-name: annime;
	-webkit-animation-iteration-count:1;
	-moz-animation-iteration-count:1;
	-moz-animation-delay : 1s;
	-webkit-animation-delay: 1s;
	margin-left: auto;
	margin-right: auto;
	}
	@-moz-keyframes annime {
		0% {
			opacity: 0.2;
			transform:rotate(0deg);
			width : 0%;
			heigth : 0%;
		}    
		70 % {
			opacity: 0.6;
			transform:rotate(180deg);
			width : 50%;
			heigth : 50%;
		}
		100% {
			opacity: 1;
			transform:rotate(360deg);
			width : 100%;
			heigth : 100%;
		}
	}  
    @-webkit-keyframes annime {
		0% {
			opacity: 0.2;
			transform:rotate(0deg);
			width : 0%;
			heigth : 0%;
		}    
		70 % {
			opacity: 0.6;
			transform:rotate(180deg);
			width : 50%;
			heigth : 50%;
		}
		100% {
			opacity: 1;
			transform:rotate(360deg);
			width : 100%;
			heigth : 100%;
		}
	} 