ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}
h3 {
	text-align: center;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}
.active {
	background-color: #4CAF50;
}
.navbar {
	margin-right: 100px;
	margin-left: 100px font-size : 100%;
}
header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}
body {

}
div.conteneur {
	background: #ccc;
	height: 100%;
	line-height: 200px;
	text-align: center; /* centrage horizontal */
	margin-right: 40px;
	margin-left: 40px;
}

div.bloc {
	width: 75%; /* largeur du bloc */
	padding: 10px; /* aération interne du bloc */
	border: 1px solid #fff;
	vertical-align: middle;
	display: inline-block;
	line-height: 1.2; /* on rétablit le line-height */
	text-align: left; /* ... et l'alignement du texte */
}
footer {
	text-align: center;
}
.construction {
	text-align: center;
}

/* Ribbon css */
.ribbon {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 75px;
	height: 75px;
	text-align: right;
}
.ribbon span {
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 100px;
	display: block;
	background: #79A70A;
	background: linear-gradient(#2989d8 0%, #1e5799 100%);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
	top: 19px;
	right: -21px;
}
.ribbon span::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid #1e5799;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #1e5799;
}
.ribbon span::after {
	content: "";
	position: absolute;
	right: 0px;
	top: 100%;
	z-index: -1;
	border-left: 3px solid transparent;
	border-right: 3px solid #1e5799;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #1e5799;
}